<div layout="row" layout-margin>
    <div><b>Q</b>uestion {{question.number}}.</div>
    <div><b>{{question.question}}</b></div>
</div>

<div flex layout="row">
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2"
                ng-class="{happy: question.variantIsChosen.isRight,
                           sad: (question.variantIsChosen && !question.variantIsChosen.isRight)}">
        <md-list>            
            <md-list-item ng-repeat="v in question.variants">
                <md-button ng-model="v.selected" ng-disabled="question.variantIsChosen" ng-click="variants.clicked(v)" aria-label="v.color">
                    <div style="width: 99%; background: {{v.color}}">
                        &nbsp;
                    </div>
                </md-button>
                <span class="instantResult" ng-show="question.variantIsChosen">{{variants.instantResult(v)}}</span>
            </md-list-item>
        </md-list>
    </md-sidenav>
</div>

<form class="qpanel">
    <input class ="btn" ng-value="getMainButtonCaption()" type="button" ng-click="questions.moveToNext()"/>
    <br/><br/>
    <a ng-click="questions.moveToPrevious()" ng-show="!questions.isFirst()" href="">Back</a>
</form>