<div class="q">

<p class="demo">This is the partial for view 1.</p>

<p><b>Q</b>uestion {{question.number}}</p>

<p>{{question.question}}</p>

<p>{{question.body}}</p>

<p>
    <form class="qpanel">    	
        <label ng-repeat="v in question.variants">
            <input type="checkbox" ng-model="v.selected" ng-disabled="question.variantIsChosen" ng-click="variantClicked(v)"/>
                <span title="{{getVariantTitle(v)}}" style="color:{{v.color}}">█████</span>
                &nbsp;&nbsp;&nbsp;
            	<span>{{instantResult(v)}}<span>
            	<br/>
        </label>        
    </form>

    <form>
    	<input class ="btn" ng-value="getMainButtonCaption()" type="button" ng-click="moveToNextQuestion()"/>
    	<br/><br/>
    	<a ng-click="moveToPreviousQuestion()" ng-show="!isFirstQuestion()" href="">Back</a>
	</form>
</p>

</div>