<p class="demo">This is the partial for view 1.</p>

<p>Question {{question.number}}</p>

<p>{{question.question}}</p>

<p>{{question.body}}</p>

<p>
    <form>
        <label ng-repeat="v in question.variants">
            <input type="checkbox" ng-model="v.selected" ng-disabled="question.variantIsChosen" ng-click="variantClicked(v)"/>
                <span title="{{v.text}}" style="color:{{v.color}}">█████</span><br/>
        </label>

        <input ng-value="getMainButtonCaption()" type="button" ng-click="moveToNextQuestion()"/>

        <input value="Back" type="button" ng-click="moveToPreviousQuestion()" ng-show="!isFirstQuestion()"/>
    </form>
</p>
